.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Kita hapus max-width agar 'main' bisa melebar penuh */
main {
  flex-grow: 1;
  width: 100%;
  /* Padding untuk memberi sedikit ruang di sisi layar */
  padding: 2rem 3rem; 
  margin: 0 auto;
}

/* Aturan untuk layar yang lebih kecil agar padding tidak terlalu besar */
@media (max-width: 768px) {
  main {
    padding: 1.5rem;
  }
}